---
import WhatSsap from "../../icons/whatSsap.astro";
import ContactoWats from "../botones/contactoWats.astro";
interface Props {
  title: string;
  content: string;
  imagen: string;
  precio: string;
  alt: string;
}
const { title, content, imagen, alt, precio } = Astro.props;
---

<div
  class="felx flex-1 rounded-2xl m-6 p-10 text-center shadow-lg hover:scale-[1.1] hover:duration-500 mx-auto"
>
  <figure class="bg-white rounded-full m-auto">
    <img
      class="hover:scale-[1.2] hover:duration-300 object-cover"
      src={imagen}
      alt={alt}
    />
  </figure>

  <h2
    class="uppercase text-orange-700 font-extrabold text-xl font-Rubik py-4 mt-8"
  >
    {title}
  </h2>
  <p class="text-lg py-2">{content}</p>
  <p class="text-xl font-bold">{precio}</p>

  <ContactoWats href="/">
    <WhatSsap />
     contactame
  </ContactoWats>
</div>
